<% layout("/layouts/boilerplate") %>

<form action="/login" method="post" class="needs-validation"  novalidate >
    <div class="row mt-3">
        <div class="col-md-6 offset-3">

            <label for="username" class="form-label mt-3">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">

            <label for="password" class="form-label mt-3">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="emailHelp" name="password">

            <button class="btn btn-dark mt-3">Submit</button>

        </div>
    </div>
</form>