<% layout("/layouts/boilerplate") %>
<style>
    .filters{
        display: flex;
        text-align: center;
    }
    .filter{
        margin-right: 1rem;
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
    }
</style>
    <body >
        <div class="row mt-3">

        <div class="filters">

            <a href="">
            <div class="filter">
                <i class="fa-solid fa-star"></i>
                <div>Amazing view</div>
            </div>
        </a>

          <a href="">
            <div class="filter">
                <i class="fa-solid fa-earth-americas"></i>
                                <div>Earth homes</div>
            </div>
          </a>

           <a href="">
            <div class="filter">
                <i class="fa-solid fa-heart"></i>
                                <div>Amazing pool</div>
            </div>
           </a>

            <a href="">
                <div class="filter">
                    <i class="fa-brands fa-slack"></i>
                                    <div>Iconic cities</div>
                </div>
            </a>

         <a href="">
            <div class="filter">
                <i class="fa-solid fa-bell"></i>
                                <div>Rooms</div>
            </div>
         </a>

         <a href="">
            
            <div class="filter">
                <i class="fa-solid fa-gift"></i>
                                <div>Farms</div>
            </div>
         </a>
        </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-col-sm-1 row-col-xs-1 mt-3 main-container">
            <% for(listing of allListing){ %>
                <a href="/listings/<%= listing.id %>">
                <div class="card col listing-card index-card">

                        <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b><br>
                                &#8377;<%= listing.price %>
                            </p>
                        </div>


                  
                </div>
            </a>
                <% } %>
        </div>
    </body>